*{
    margin:0;
    padding:0;

}
body{
    background-image: url('background.jpg');
    opacity:1.0 ; /* 设置透明度为0.9 */
	min-width: auto;
	margin: auto;
	font-size: 20px;
	font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
	background: #fff;
	text-align: justify;
	color: #010000;
	position: relative;
}
















header .nav {
	float: right;
}
header .nav li {
	width: 120px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
}
header .nav li a {
	color: #fff;
}







.banner{
    display: block;
}
.banner img{
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}






